@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body{
  background-color: #150578;
  color: #F6F7F8;
  overflow-x: hidden;
  scroll-behavior: smooth; 
}

.html{
  scroll-behavior: smooth;
}

#root{
  height:100%;
}

.App{
  min-height: 100vh;
  height: auto; 
}

.point{
  cursor: pointer;
}

.introdesc{
  margin-top: -6%;
}






@media (max-width: 768px) {
  .banner .slider{
    display: none;
  }

  .banner{
    margin-top: -2%;
  }
}