@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body{
  background-color: #150578;
  color: #F6F7F8;
  overflow-x: hidden;
  scroll-behavior: smooth; 
}

.html{
  scroll-behavior: smooth;
}

#root{
  height:100%;
}

.App{
  min-height: 100vh;
  height: auto; 
}

.point{
  cursor: pointer;
}

.introdesc{
  margin-top: -6%;
}






@media (max-width: 768px) {
  .banner .slider{
    display: none;
  }

  .banner{
    margin-top: 4% !important;
  }

  .topic{
    font-size: 42px !important;
  }

  .topic-md{
    font-size: larger;
  }

  .upped{
    margin-top: -10%;
    margin-bottom: -10%;
  }

  .side{
    margin-left:20px !important;
  }

  .rside{
    margin-right: 10px !important;
  }
 
  .gap{
    padding: 0%;
  }

  .inner-text{
    font-size: large;
    text-align: inherit;
  }

  .inner-text-sm{
    font-size: medium;
  }

  .title{
    font-size: 30px !important;
  }

}

